{
   "layout": "one_column",

   "areas": {
      "activities": [
         {
            "widget": "category/my-first-activity"
         }
      ],

      "header": [
         {
            "widget": "laxarjs/ax-headline-widget",
            "features": {
               "headline": {
                  "i18nHtmlText": "For <em>Great</em> Success!",
                  "level": 2
               }
            }
         }
      ],

      "content": [
      ],

      "footer": [
         {
            "widget": "category/my-rare-footer-widget",
            "id": "iCanHazAnId",
            "features": {
               "unicorns": {
                  "enabled": true,
                  "count": 3
               }
            }
         }
      ]
   }
}
