<div class="two-columns-layout container">

   <div class="jumbotron">
      <header class="page-header">
         <h1>It works! <small>Welcome to your <a href="http://laxarjs.org">LaxarJS</a> application.</small></h1>
      </header>
      <p>
         Have a look at the
         <a href="https://github.com/LaxarJS/laxar#create-your-first-laxarjs-widget">getting started guide</a>
         and learn how to create a new widget.
      </p>
      <p>
         Consult the
         <a href="https://github.com/LaxarJS/laxar/blob/master/docs/manuals/index.md#manuals"
            title="LaxarJS Documentation: manuals">
            manuals
         </a>
         to learn more about writing LaxarJS applications, or simply toy with the example widgets that are
         contained within this application.
      </p>
      <p>
         Don't forget to <em>restart</em> the development server after adding new widgets to any of your pages.
         Other changes should be picked up automatically.
      </p>
   </div>

   <p class="alert alert-info">
      <i class="fa fa-info-circle"></i>
      To change this HTML scaffolding, edit the layout <em>two-columns</em>
      under <em>application/layouts</em>
   </p>

   <div class="row">
      <div class="col col-lg-6 first" data-ax-widget-area="left"></div>
      <div class="col col-lg-6 last" data-ax-widget-area="right"></div>
   </div>

   <footer data-ax-widget-area="footer"></footer>
</div>
